@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}
* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: Ubuntu, sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 60px;
    color: white;
}
nav ul li {
    padding: 0px 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.brand img{
    width: 44px;
    padding: 0px 8px;
}

.container {
    height: 75vh;
}
.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
#myProgressBar{
    width: 80vw;
}
.icons{
    margin-top: 15px;
}
.icons i {
    cursor: pointer;
}